<sl-button size="large">Click me</sl-button>

<br /><br />

If you see the button above, you are using Web Components with Shoelace!

<br /><br />

<a href="https://github.com/shoelace-style/shoelace#readme">https://github.com/shoelace-style/shoelace#readme</a>
